In [21]:
from PIL import Image
from pytesseract import image_to_string
import cv2

In [98]:
img_obj=cv2.imread(r"C:\Users\saipriya\Desktop\task\taskAadhaar_Photo\img8.jpg")
gray=cv2.cvtColor(img_obj, cv2.COLOR_BGR2GRAY)
cv2.imwrite(r"C:\Users\saipriya\Downloads\im6.jpg",gray)

True

In [101]:

text=image_to_string(Image.open(r"C:\Users\saipriya\Downloads\im6.jpg"))

In [102]:
print(text)

8590 2815 7569 _

_ aa, MoS

# One Way

In [4]:
l =list(text.split(':'))
l

['Sach (SéoSogg /Enrolment No.',
 ' 1079/00038/01637\n\nTo\n\n',
 "  Goka Sai Priya\n(A's 20 Rav)\nD/O Late Mahendgar Ready\n44-427\nBhukthapur\nBhukthapur\nAdilabad\nAdilabad\nAndhra Pradesh - 504001\n\nEY 08448783 7 iN Ref. No ",
 ' 06062011-10346\n\nDate',
 ' 06/06/2011\n\n \n\n> eaqpS omg / Your Aadhaar No. ',
 '\n\n2801 8649 7841\nqd - PsN sry\n\n \n\n| As Son Qa\n\n_ Goka Sai Priya\n\n_ 88',
 '88 08) son\n\n- Mother ',
 ' Goka Laxmi Bai\n\n> %gye Roddy So / Year of Birth ',
 ' 1995\n\ns 2 Female\n+ 2601 se49 7841 [IH IMN HH Ml']

In [5]:
new=[]
for i in l:
    if (i.find('\n\n')!= -1):
        j = i.split('\n\n')
        for a in j:
            new.append(a)
    else:
        new.append(i)

Find():
returns the lowest index of the substring if it is found in given string. If it’s not found then it returns -1.

In [6]:
new

['Sach (SéoSogg /Enrolment No.',
 ' 1079/00038/01637',
 'To',
 '',
 "  Goka Sai Priya\n(A's 20 Rav)\nD/O Late Mahendgar Ready\n44-427\nBhukthapur\nBhukthapur\nAdilabad\nAdilabad\nAndhra Pradesh - 504001",
 'EY 08448783 7 iN Ref. No ',
 ' 06062011-10346',
 'Date',
 ' 06/06/2011',
 ' ',
 '> eaqpS omg / Your Aadhaar No. ',
 '',
 '2801 8649 7841\nqd - PsN sry',
 ' ',
 '| As Son Qa',
 '_ Goka Sai Priya',
 '_ 88',
 '88 08) son',
 '- Mother ',
 ' Goka Laxmi Bai',
 '> %gye Roddy So / Year of Birth ',
 ' 1995',
 's 2 Female\n+ 2601 se49 7841 [IH IMN HH Ml']

In [7]:
for i in new:
    if i=='' or i==' ':
        new.remove(i)

In [8]:
new

['Sach (SéoSogg /Enrolment No.',
 ' 1079/00038/01637',
 'To',
 "  Goka Sai Priya\n(A's 20 Rav)\nD/O Late Mahendgar Ready\n44-427\nBhukthapur\nBhukthapur\nAdilabad\nAdilabad\nAndhra Pradesh - 504001",
 'EY 08448783 7 iN Ref. No ',
 ' 06062011-10346',
 'Date',
 ' 06/06/2011',
 '> eaqpS omg / Your Aadhaar No. ',
 '2801 8649 7841\nqd - PsN sry',
 '| As Son Qa',
 '_ Goka Sai Priya',
 '_ 88',
 '88 08) son',
 '- Mother ',
 ' Goka Laxmi Bai',
 '> %gye Roddy So / Year of Birth ',
 ' 1995',
 's 2 Female\n+ 2601 se49 7841 [IH IMN HH Ml']

In [9]:
d = dict(zip(new[::2] , new[1::2]))
d

{'Sach (SéoSogg /Enrolment No.': ' 1079/00038/01637',
 'To': "  Goka Sai Priya\n(A's 20 Rav)\nD/O Late Mahendgar Ready\n44-427\nBhukthapur\nBhukthapur\nAdilabad\nAdilabad\nAndhra Pradesh - 504001",
 'EY 08448783 7 iN Ref. No ': ' 06062011-10346',
 'Date': ' 06/06/2011',
 '> eaqpS omg / Your Aadhaar No. ': '2801 8649 7841\nqd - PsN sry',
 '| As Son Qa': '_ Goka Sai Priya',
 '_ 88': '88 08) son',
 '- Mother ': ' Goka Laxmi Bai',
 '> %gye Roddy So / Year of Birth ': ' 1995'}

In [10]:
d['> eaqpS omg / Your Aadhaar No. '][:14]

'2801 8649 7841'

# Another Way

In [41]:
l1=list(text.split('\n'))
l1

['Naveen V',
 '30 dar / Year of Birth : 1986',
 'wwe / Male',
 '',
 '  ',
 '   ',
 ' ',
 '',
 '8015 7911 9691',
 'oo - & emoadien, x3 ‘and']

In [46]:
for i in l1:
    if any( [i=='' or i==' ' or i=='  ' or i=='   '] ):
        l1.remove(i)

In [47]:
l1

['Naveen V',
 '30 dar / Year of Birth : 1986',
 'wwe / Male',
 '8015 7911 9691',
 'oo - & emoadien, x3 ‘and']

In [37]:
for i in l1:
    if (i.find("Male") != -1 ):
        r = l1.index(i)+1
        a=list(l1[r][:14])

In [38]:
a

['8', '0', '1', '5', ' ', '7', '9', '1', '1', ' ', '9', '6', '9', '1']

In [39]:
for i in a:
    if(i == ' '):
        a.remove(i)

In [40]:
a="".join(a)
a

'801579119691'